body{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: 0%;
}
.booking-form-box{
   max-width: 350px;
   border: 1px solid #ced4da;
   margin: 10% auto 0;
}
.radio-btn{
    margin: 0 20px;
}
.radio-btn .radio-btn{
    margin : 20px 10px 20px 0;
    box-shadow: none;
}
.radio-btn .btn ::after{
    content :'';
    height: 15px;
    width: 15px;
    top: 02px;
    left: -1px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px sloid #fff;
    visibility: visible;
    border-radius : 50%;

}
.radio-btn .btn :checked::after{
 content:'';
 background-color: #000;
 transition: 0.5s;
}
.radio-btn span{
    color: rgb(211, 35, 35);
    margin-right: 5px;
    font-size: 12px;
}

